.header{
   display : flex;
}
.createEventBtn{
    margin-left: 1090px;
}
.imgBox{
    width: 325px;
}
.pagBtndiv{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.pageBtnPre{
   width: 125px;
   padding: 10px;
}
.pageBtnNext{
    width: 50px;
    padding: 10px;
    height: 40px;
    margin-left: 20px;
    border-radius: 20%;
}