.header{
   display : flex;
}
.my-events{
    /* align-items: flex-end;
    justify-content: flex-end; */
    width: 50px;
}
.event-header-main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.event-heading{
    width:  200px;
}
.createEventBtn{
    background-color: #fff;
}
.imgBox{
    width: 325px;
}
.pagBtndiv{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.pageBtnPre{
   width: 125px;
   padding: 10px;
}
.pageBtnNext{
    width: 50px;
    padding: 10px;
    height: 40px;
    margin-left: 20px;
    border-radius: 20%;
}