#eventForm{
    width: 1000px;
    min-height: 500px;
    position: relative;
    margin-left: 110px;
}
.inputFields{
    margin-bottom: 10px;
}
.addEventBtn{
    position: absolute;
    width: 350px;
    left: 30%;
    margin: 10px -90px;
    border: none;
    background-color: rgb(231, 160, 219); 
}
.addEventBtn:hover{
    background-color: rgb(231, 160, 219); 
}